{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    // 需要安装babel-runtime和@babel/plugin-transform-runtime
    // [
    // "@babel/plugin-transform-runtime",
    // {
    //     "absoluteRuntime": false,
    //     "corejs": 3,
    //     "helpers": true,
    //     "regenrator": true,
    //     "useESModules": false
    // }
    // ]
  ]
}
